<a href="https://colab.research.google.com/github/kzw333/GEO5990-final/blob/main/geog5990m_final_project_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GEOG5990M Final Assignment (Template)

Student ID number:

In [6]:
# read in required packages
# import required packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

This is an example block of mardown text I want to reference <a href="#ref1">[1]</a>. I might need to add some more citations <a href="#ref2">[2]</a><a href="#ref2">[3]</a>

In [25]:
#load data
voa_property_age_data = pd.read_csv('https://raw.githubusercontent.com/kzw333/GEO5990-final/main/voapropertyage.csv')
price_data = pd.read_csv('https://raw.githubusercontent.com/kzw333/GEO5990-final/main/Median_Prices_Quarterly.csv')
#Data Exploration
# View the data structure
#voa_property_age_data.head()
#price_data.head()
#voa_property_age_data.info()
# Check for missing values
#voa_property_age_data.isnull().sum()
#price_data.isnull().sum()
#print(price_data['lsoa_cd'].isnull().sum())
# 删除 'lsoa_cd' 列中包含缺失值的行
price_data = price_data.dropna(subset=['lsoa_cd'])
# 显示删除后的结果
#print(price_data)
#print(price_data['lsoa_cd'].isnull().sum())
#使用中位数填充
price_data.iloc[:, 2:] = price_data.iloc[:, 2:].apply(lambda row: row.fillna(row.median()), axis=0)
print(price_data)
price_data.isnull().sum()

       Unnamed: 0    lsoa_cd  median_95Q1  median_95Q2  median_95Q3  \
1               2  E01000001      99500.0     112475.0     123500.0
2               3  E01000002     110000.0     135000.0     112500.0
3               4  E01000003      75000.0      64200.0      66000.0
4               5  E01000005      52125.0      52995.0      61000.0
5               6  E01000006      68000.0      79995.0      61000.0
...           ...        ...          ...          ...          ...
34751       34752  W01001954      71050.0      82500.0     105000.0
34752       34753  W01001955      30000.0      52995.0     250000.0
34753       34754  W01001956      61225.0      65500.0      56875.0
34754       34755  W01001957      60000.0      42000.0      33500.0
34755       34756  W01001958      52125.0      31000.0      76000.0

       median_95Q4  median_96Q1  median_96Q2  median_96Q3  median_96Q4  ...  \
1         104671.0     129000.0     129750.0     152500.0     169375.0  ...
2         132000.0     119275.0     112000.0     135000.0     117500.0  ...
3          92000.0      90000.0      65000.0      73000.0      90000.0  ...
4          52500.0      55000.0      70000.0      54875.0      55000.0  ...
5          67000.0      62497.5      69000.0      71000.0      74000.0  ...
...            ...          ...          ...          ...          ...  ...
34751      78500.0      90000.0      93500.0     104000.0     105000.0  ...
34752      20000.0      33000.0      53000.0      25000.0      55000.0  ...
34753      57750.0      50000.0      49000.0      67000.0      59375.0  ...
34754      48000.0      38750.0      27500.0      45000.0      51500.0  ...
34755      52500.0      52250.0      81250.0      23750.0      68225.0  ...

       median_16Q3  median_16Q4  median_17Q1  median_17Q2  median_17Q3  \
1         880000.0     972500.0    1085000.0     872500.0     972500.0
2         852500.0     937500.0     960000.0     970000.0     849950.0
3         795000.0     686250.0     751875.0     760000.0     830000.0
4         590000.0    2405000.0     712500.0     485000.0    2800000.0
5         397500.0     407000.0     432000.0     342500.0     249000.0
...            ...          ...          ...          ...          ...
34751     360000.0     348500.0     475000.0     297475.0     350000.0
34752      96000.0     189500.0     125000.0     127000.0     120000.0
34753     150000.0     168500.0     217500.0     156000.0     305995.0
34754     170000.0     136122.5     133000.0     106500.0     130000.0
34755     173200.0     177750.0     188500.0     173000.0     170000.0

       median_17Q4  median_18Q1  median_18Q2  median_18Q3  median_18Q4
1        2150000.0     900000.0     825000.0     695000.0     806000.0
2         776774.0     720000.0     617500.0     870000.0     997000.0
3         750000.0     702500.0     655250.0     730000.0     683500.0
4         375000.0     790000.0      20000.0     171849.0     233750.0
5         415000.0     300000.0     400000.0     240000.0     430000.0
...            ...          ...          ...          ...          ...
34751     340000.0     284000.0     285000.0     429950.0     118000.0
34752      80000.0     802500.0     275000.0     130000.0      60000.0
34753     291997.5     314995.0     163000.0     202497.5     183500.0
34754     138000.0     116500.0     127000.0     152500.0     155000.0
34755     180000.0     158500.0     213600.0     205000.0     174000.0

[34755 rows x 98 columns]

Unnamed: 0     0
lsoa_cd        0
median_95Q1    0
median_95Q2    0
median_95Q3    0
              ..
median_17Q4    0
median_18Q1    0
median_18Q2    0
median_18Q3    0
median_18Q4    0
Length: 98, dtype: int64

Data Visualisation
- Don't forget to present your final two data visualisation (one spatial and one non-spatial) and the justifications about the decisions you made whilst preparing and visualising the data.

## References
<p><a href="add_url_here">[1]</a>Footnote citation goes here</p>
<p><a href="https://github.com/FrancescaPontin/GEOG5990">[2]</a>GEOG5990M course materials</p>
<p><a href="add_url_here">[3]</a>Citation 3</p>